.button {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 50px;
  border: 0;
  border-radius: 8px;
  padding: 0 32px;
  background: #835AFD;
  color: #FFFFFF;
  font-weight: 500;
  cursor: pointer;

  transition: filter 0.2s;

  img {
    margin-right: 8px;
  }
  
  &.outlined {
    border: 1px solid #835AFD;
    background: #FFFFFF;
    color: #835AFD;
  }

  &:not(:disabled):hover {
    filter: brightness(0.9);
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}
